.page {
    background-color: black;
    width: 50%;
    border-top: 10px;
    padding-top: 1px;
}

.top {
    text-align: center;
    background-color: rgb(250, 106, 58);
    margin: 10px;
    width: auto;
    height: 200px;
    padding-top: 10px;
}

.text {
    color: white;
}

#banner {
    background-color: rgb(254, 92, 67);
    border: 10px;
    border-color: black;
}

.nav {
    background-color: black;
    padding-bottom: 10px;
    padding-left: 6px;
}

button {
    background-color: rgb(84, 83, 83);
    color: white;
    height: 40px;
}
